#popup {
    max-width: inherit;
    width: calc(100% - 2rem);
    position: fixed;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    margin-top: 2rem;
    background: var(--danger);
    color: var(--white);
    border-radius: 0.75rem;

    span {
      flex: 1;
      font: 600 1rem/1.25rem 'Inter', sans-serif;
    }

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      line-height: 0;
    }
  }